<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Workshop1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <Workshop1.Properties.Settings>
            <setting name="Workshop1_SimpleSvc_SimpleWebService" serializeAs="String">
                <value>http://lab-swpark-ws1.azurewebsites.net/SimpleWebService.asmx</value>
            </setting>
            <setting name="Workshop1_FirstSvc_FirstService" serializeAs="String">
                <value>http://localhost:10485/FirstService.asmx</value>
            </setting>
        </Workshop1.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISimpleWcf" />
                <binding name="BasicHttpBinding_IFirstWcfService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://lab-swpark-ws1.azurewebsites.net/SimpleWcf.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISimpleWcf"
                contract="SimpleWcf.ISimpleWcf" name="BasicHttpBinding_ISimpleWcf" />
            <endpoint address="http://localhost:10485/FirstWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFirstWcfService"
                contract="FirstWcfSvc.IFirstWcfService" name="BasicHttpBinding_IFirstWcfService" />
        </client>
    </system.serviceModel>
</configuration>