<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFirstWcfService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10485/FirstWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFirstWcfService"
                contract="FirstWcfSvc.IFirstWcfService" name="BasicHttpBinding_IFirstWcfService" />
        </client>
    </system.serviceModel>
</configuration>